body{
	margin: 0;
	padding: 0;
	background: url(sipcuy.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	font-family: sans-serif;
		
}
.login-box{
	position: relative;
	margin: 8% auto;
	height: 400px;
	width: 600px;
	background: #fff;
	box-shadow: 0 100px 100px rgba(0,0,0,10); 
	border-radius: 20px;
}
.box{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
}
h1{
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}
input[type="number"],
input[type="password"]{
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 8px 0;
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	border-bottom:2px solid black;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}
input[type="submit"]{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: gray;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: 0,2s ease;
	cursor: pointer;
}
.gambar{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url(sipcuy.png);
	background-size: cover;
	background-position: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

}
